<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand py-3" href="/home">
            <img class="img-fluid" src="/images/logo.png" style="max-width: 200px;" alt="IlTuoMenu">
        </a>
        <button class="navbar-toggler pr-2" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/chi-siamo" class="nav-link">Chi Siamo</a>
                </li>
                <li class="nav-item">
                    <a href="mailto:assistenza@iltuomenu.com" class="nav-link">Contattaci</a>
                </li>
                <li class="nav-item">
                    <a href="/auth" class="nav-link">
                        Area Clienti
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="" class="show fullscreen loader"></div>
