
<table id="orari-apertura-table">
    <thead>
        <tr>
            <th colspan="2">Giorno</th>
            <th colspan="2">Mattina</th>
            <th colspan="2">Pomeriggio</th>
            <th colspan="2">Orario Continuato</th>
        </tr>
    </thead>
    <tbody>

        <!-- Single day-->
        <tr>
            <td rowspan="2">
                <input type="checkbox" id="monday-check-day" checked>
            </td>
            <td rowspan="2">Lunedì</td>

            <!-- Mattina -->
            <td rowspan="2">
                <input type="checkbox" id="monday-check-morning" checked>
            </td>
            <td>
                <input type="time" value="08:30" id="monday-hour-morning-start" />
            </td>

            <!-- Pomeriggio -->
            <td rowspan="2">
                <input type="checkbox" id="monday-check-afternoon" checked>
            </td>
            <td>
                <input type="time" value="13:30" id="monday-hour-afternoon-start" />
            </td>

            <!-- Orario Continuato -->
            <td rowspan="2"><input type="checkbox" id="monday-check-allday" ></td>
            <td><input type="time" value="13:30" id="monday-hour-allday-start" disabled /></td>

        </tr>
        <tr>
            <!-- Mattina -->
            <td><input type="time" value="13:00" id="monday-hour-morning-end" /></td>
            <!-- Pomeriggio -->
            <td><input type="time" value="16:30" id="monday-hour-afternoon-end" /></td>
            <!-- Orario Continuato -->
            <td><input type="time" value="16:30" id="monday-hour-allday-end" disabled /></td>
        </tr>
        <!-- End Single day-->



        <!-- Single day-->
        <tr>
            <td rowspan="2">
                <input type="checkbox" id="tuesday-check-day" checked>
            </td>
            <td rowspan="2">Martedì</td>

            <!-- Mattina -->
            <td rowspan="2">
                <input type="checkbox" id="tuesday-check-morning" checked>
            </td>
            <td>
                <input type="time" value="08:30" id="tuesday-hour-morning-start" />
            </td>

            <!-- Pomeriggio -->
            <td rowspan="2">
                <input type="checkbox" id="tuesday-check-afternoon" checked>
            </td>
            <td>
                <input type="time" value="13:30" id="tuesday-hour-afternoon-start" />
            </td>

            <!-- Orario Continuato -->
            <td rowspan="2"><input type="checkbox" id="tuesday-check-allday" ></td>
            <td><input type="time" value="13:30" id="tuesday-hour-allday-start" disabled /></td>

        </tr>
        <tr>
            <!-- Mattina -->
            <td><input type="time" value="13:00" id="tuesday-hour-morning-end" /></td>
            <!-- Pomeriggio -->
            <td><input type="time" value="16:30" id="tuesday-hour-afternoon-end" /></td>
            <!-- Orario Continuato -->
            <td><input type="time" value="16:30" id="tuesday-hour-allday-end" disabled /></td>
        </tr>
        <!-- End Single day-->



        <!-- Single day-->
        <tr>
            <td rowspan="2">
                <input type="checkbox" id="wednesday-check-day" checked>
            </td>
            <td rowspan="2">Mercoledì</td>

            <!-- Mattina -->
            <td rowspan="2">
                <input type="checkbox" id="wednesday-check-morning" checked>
            </td>
            <td>
                <input type="time" value="08:30" id="wednesday-hour-morning-start" />
            </td>

            <!-- Pomeriggio -->
            <td rowspan="2">
                <input type="checkbox" id="wednesday-check-afternoon" checked>
            </td>
            <td>
                <input type="time" value="13:30" id="wednesday-hour-afternoon-start" />
            </td>

            <!-- Orario Continuato -->
            <td rowspan="2"><input type="checkbox" id="wednesday-check-allday" ></td>
            <td><input type="time" value="13:30" id="wednesday-hour-allday-start" disabled /></td>

        </tr>
        <tr>
            <!-- Mattina -->
            <td><input type="time" value="13:00" id="wednesday-hour-morning-end" /></td>
            <!-- Pomeriggio -->
            <td><input type="time" value="16:30" id="wednesday-hour-afternoon-end" /></td>
            <!-- Orario Continuato -->
            <td><input type="time" value="16:30" id="wednesday-hour-allday-end" disabled /></td>
        </tr>
        <!-- End Single day-->



        <!-- Single day-->
        <tr>
            <td rowspan="2">
                <input type="checkbox" id="thursday-check-day" checked>
            </td>
            <td rowspan="2">Giovedì</td>

            <!-- Mattina -->
            <td rowspan="2">
                <input type="checkbox" id="thursday-check-morning" checked>
            </td>
            <td>
                <input type="time" value="08:30" id="thursday-hour-morning-start" />
            </td>

            <!-- Pomeriggio -->
            <td rowspan="2">
                <input type="checkbox" id="thursday-check-afternoon" checked>
            </td>
            <td>
                <input type="time" value="13:30" id="thursday-hour-afternoon-start" />
            </td>

            <!-- Orario Continuato -->
            <td rowspan="2"><input type="checkbox" id="thursday-check-allday" ></td>
            <td><input type="time" value="13:30" id="thursday-hour-allday-start" disabled/></td>

        </tr>
        <tr>
            <!-- Mattina -->
            <td><input type="time" value="13:00" id="thursday-hour-morning-end" /></td>
            <!-- Pomeriggio -->
            <td><input type="time" value="16:30" id="thursday-hour-afternoon-end" /></td>
            <!-- Orario Continuato -->
            <td><input type="time" value="16:30" id="thursday-hour-allday-end" disabled /></td>
        </tr>
        <!-- End Single day-->



        <!-- Single day-->
        <tr>
            <td rowspan="2">
                <input type="checkbox" id="friday-check-day" checked>
            </td>
            <td rowspan="2">Venerdì</td>

            <!-- Mattina -->
            <td rowspan="2">
                <input type="checkbox" id="friday-check-morning" checked>
            </td>
            <td>
                <input type="time" value="08:30" id="friday-hour-morning-start" />
            </td>

            <!-- Pomeriggio -->
            <td rowspan="2">
                <input type="checkbox" id="friday-check-afternoon" checked>
            </td>
            <td>
                <input type="time" value="13:30" id="friday-hour-afternoon-start" />
            </td>

            <!-- Orario Continuato -->
            <td rowspan="2">
                <input type="checkbox" id="friday-check-allday" >
            </td>
            <td>
                <input type="time" value="13:30" id="friday-hour-allday-start" disabled />
            </td>

        </tr>
        <tr>
            <!-- Mattina -->
            <td><input type="time" value="13:00" id="friday-hour-morning-end" /></td>
            <!-- Pomeriggio -->
            <td><input type="time" value="16:30" id="friday-hour-afternoon-end" /></td>
            <!-- Orario Continuato -->
            <td><input type="time" value="16:30" id="friday-hour-allday-end" disabled /></td>
        </tr>
        <!-- End Single day-->



        <!-- Single day-->
        <tr>
            <td rowspan="2">
                <input type="checkbox" id="saturday-check-day" checked>
            </td>
            <td rowspan="2">Sabato</td>

            <!-- Mattina -->
            <td rowspan="2">
                <input type="checkbox" id="saturday-check-morning" checked>
            </td>
            <td>
                <input type="time" value="08:30" id="saturday-hour-morning-start" />
            </td>

            <!-- Pomeriggio -->
            <td rowspan="2">
                <input type="checkbox" id="saturday-check-afternoon" checked>
            </td>
            <td>
                <input type="time" value="13:30" id="saturday-hour-afternoon-start" />
            </td>

            <!-- Orario Continuato -->
            <td rowspan="2"><input type="checkbox" id="saturday-check-allday" ></td>
            <td><input type="time" value="13:30" id="saturday-hour-allday-start" disabled/></td>

        </tr>
        <tr>
            <!-- Mattina -->
            <td><input type="time" value="13:00" id="saturday-hour-morning-end" /></td>
            <!-- Pomeriggio -->
            <td><input type="time" value="16:30" id="saturday-hour-afternoon-end" /></td>
            <!-- Orario Continuato -->
            <td><input type="time" value="16:30" id="saturday-hour-allday-end" disabled /></td>
        </tr>
        <!-- End Single day-->




        <!-- Single day-->
        <tr>
            <td rowspan="2">
                <input type="checkbox" id="sunday-check-day" checked>
            </td>
            <td rowspan="2">Domenica</td>

            <!-- Mattina -->
            <td rowspan="2">
                <input type="checkbox" id="sunday-check-morning" checked>
            </td>
            <td>
                <input type="time" value="08:30" id="sunday-hour-morning-start" />
            </td>

            <!-- Pomeriggio -->
            <td rowspan="2">
                <input type="checkbox" id="sunday-check-afternoon" checked>
            </td>
            <td>
                <input type="time" value="13:30" id="sunday-hour-afternoon-start" />
            </td>

            <!-- Orario Continuato -->
            <td rowspan="2">
                <input type="checkbox" id="sunday-check-allday" >
            </td>
            <td>
                <input type="time" value="13:30" id="sunday-hour-allday-start" disabled />
            </td>

        </tr>
        <tr>
            <!-- Mattina -->
            <td>
                <input type="time" value="13:00" id="sunday-hour-morning-end" />
            </td>
            <!-- Pomeriggio -->
            <td>
                <input type="time" value="16:30" id="sunday-hour-afternoon-end" />
            </td>
            <!-- Orario Continuato -->
            <td>
                <input type="time" value="16:30" id="sunday-hour-allday-end" disabled />
            </td>
        </tr>
        <!-- End Single day-->
    </tbody>
</table>


<div class="my-4">
    <button id="save-orari-button" class="btn btn-primary mx-auto d-block">Salva Orari</button>
</div>


<div class="mb-1">
    <p class="text-center" id="salvataggio-result-text"></p>
</div>
<div class="mb-4">
    <p class="text-center" id="send-result-text"></p>
</div>