<!DOCTYPE html>
<html lang="it">

<head>
	<%- include('../partials/head') %>
	<link rel="stylesheet" href="/css/menu.css">

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script>
		function onRegistrationSubmit(token) {
			document.getElementById("registration-form").submit();
		}
	</script>
</head>

<body class="login-bg">

	<section class="login auth py-5">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<%- include('../partials/registration_form') %>
			</div>
		</div>
	</section>

	
	<%- include('../partials/javascript') %>

</body>

</html>